.header-img {
  filter: invert(100%);
  max-height: 50px !important;
  min-width: 40px;
}

.header-img:hover {
  filter: invert(0%);
  cursor: pointer;
}

header{
  padding: 10px;
}


.contenedor{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  width: auto;
}
